body {
    margin : 0;
    background-color: #f4f4f9;
}

header {
    margin: 10px 0 0 0;
    padding : 5px;
    width : 100vw;
    background-color: brown;
}

h1 {
    color: black;
    font-size: 40px;
}

/* Style des boutons d'onglets */
.tabs {
    display: flex;
    justify-content: space-evenly;
    background: #333;
    padding: 10px 0;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.tab-button:hover, .tab-button.active {
    background: #555;
}

/* Style du contenu des onglets */
.tab-content {
    display: none;
    padding: 20px;
    text-align: center;
}

.tab-content.active {
    display: block;
}

.container {
    width: 80%;
    margin: 20px auto;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    max-width: 100px;
    height: auto;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}
.card-description {
    font-size: 14px;
}